*{
	margin:0;
	padding:0;
}
.wrap{
	width:200px;
	height:200px;
	margin:100px;
	padding:200px;
	border:1px solid black;
	perspective:800px;
	-webkit-perspective:800px;
}
.box{
	width:200px;
	height:200px;
	position:relative;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	transition:3s all;
	-webkit-transition:3s all;
	transform:translateZ(-100px) rotateX(0deg);
	-webkit-transform:translateZ(-100px) rotateX(0deg);
}
.box div{
	width:200px;
	height:200px;
	position:absolute;
	font-size:40px;
	text-align:center;
	line-height:200px;
	color:#fff;
	left:0;
	top:0;
}
.box div:nth-of-type(1){
	background:red;
	transform:translateZ(100px);
	-webkit-transform:translateZ(100px);
}
.box div:nth-of-type(2){
	background:blue;
	transform-origin:top;
	-webkit-transform-origin:top;
	transform:translateZ(-100px) rotateX(90deg);
	-webkit-transform:translateZ(-100px) rotateX(90deg);
}
.box div:nth-of-type(3){
	background:yellow;
	transform:translateZ(-100px) rotateX(180deg);
	-webkit-transform:translateZ(-100px) rotateX(180deg);
}
.box div:nth-of-type(4){
	background:green;
	transform-origin:bottom;
	-webkit-transform-origin:bottom;
	transform:translateZ(-100px) rotateX(-90deg);
	-webkit-transform:translateZ(-100px) rotateX(-90deg);
	
}
.wrap:hover .box{
	transform:translateZ(-100px) rotateX(180deg);
	-webkit-transform:translateZ(-100px) rotateX(180deg);
	
}