.topDiv{width:100%;height:30px;line-height:30px;background:#000080;color:white;}
		.topDiv div{float:left;width:40px;height:30px;line-height:30px;}
		.topDiv div a{text-decoration:none;color:white;}
		.topDiv div a:hover{color:red;}
		
		
		#acc ul{list-style:none;}
		#acc ul li{margin-top:5px;list-style-image:url('images/directory.png')}
		#acc ul li a{color:black;text-decoration:none;font-size:14px;}