@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	
}
img {
	border: 0;
}
body {
	background: #ADFF2F;
}
.header {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #87CEFA;
}
.header span {
	float: right;
	margin-right: 5%;
	color: #fff;
}
.header .welcome {
	margin-right: 80%;
}
.header span a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}
.header span a:hover{
	color:red;
}
.content {
	width: 100%;
	overflow: hidden;
}
.content .middle {
	float: left;
	width: 100%;
	background: #eee;
	margin-bottom: -9999px;
	padding-bottom:9999px;
}
.middle .inner {
	margin: 0 20% 0 25%; 
	width:55%;
	margin-top:0;
	font-family: '华文新魏';
}
.content .left {
	float: left;
	_display: inline;
	width: 25%;
	background: #ADFF2F;
	margin-left: -100%;
	margin-bottom: -9999px;
	padding-bottom:9999px;
}
.content .right {
	float: left;
	_display: inline;
	width: 20%;
	background: #ADFF2F;
	margin-left: -20%;
	margin-bottom: -9999px;
	padding-bottom:9999px;
}

.inner .div1 {
	margin: 20px;
	font-size: 40px;
	text-shadow: 3px 3px 5px #B22222;
}
.inner .div2 {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 18px;
	width: 80%;
	height: 30px;
}

.inner .div2 strong,.div3 .strong3 {
	display: inline-block;
	width: 25%;
	height: 30px;
	line-height: 30px;
	background: orange;
}
.inner .div2 span {
	display: inline-block;
	width: 70%;
	height: 30px;
	line-height: 30px;
	background: green;
}
.inner .div3 {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 18px;
	width: 80%;
	height: 100px;
}
.div3 .strong3 {
	float:left;
}
#textIntro {
	float: left;
	display:block;
	width: 70%;
	height: 200px;
	background: green;
	color: black;
	white-space: normal;
}

.inner .div3 .showEdit {
	display: none;
	position: absolute;
	z-index: 2;
	width: 600px;
	height: 250px;
	background: #eee;
	left: 25%;
	top: 300px;
}

.div3 .showEdit textarea {
	width: 550px;
	height: 180px;
	background: #fff;
	margin: 10px;
}
.div3 .showEdit .showNum {
	margin-left: 10px;
	float: left;
}
.div3 .showEdit input{
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background: orange;
	margin-left: 50%;
	cursor:pointer;
}

.inner .div4 {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 18px;
	width: 98%;
	height: 100px;
}
#showmodifyIntro-BTN {
	display: inline-block;
	zoom:1;
	*display:Inline;
	float:none;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background: orange;
	margin-left: 62%;
	cursor:pointer;
}
.div4 .showNum {
	display: inline-block;
	zoom:1;
	*display:Inline;
	float:none;
}
#showModifyPass-BTN{
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background: orange;
	margin-top: 10px;
	margin-left: 35%; 
	cursor:pointer;
}


.div4 .modifyPassword {
	display: none;
	position: absolute;
	z-index: 2;
	width: 600px;
	height: 250px;
	background: #eee;
	left: 25%;
	top: 300px;
	padding-top:40px;
}
.div4 .modifyPassword span {
	display: inline-block;
	width: 20%;
	height: 30px;
	line-height:3 0px;
	margin-top: 20px;
	margin-left: 10%;
	font-size: 20px;
}
.div4 .modifyPassword input[type=text]{
	width: 50%;
	height: 30px;
	line-height: 30px;
}
#modifyPass-BTN {
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background: orange;
	margin-left: 60%;
	cursor:pointer;
}

.left .mImage {
	margin: 10px;
}
.left .mImage img {
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #fff;
	max-width: 300px;
	max-height: 250px;
}

.left .list {
	margin-left: 10%;
}
.list ul {
	list-style: none;
}
.list ul li {
	width: 80%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #eee;
	position:relative;
	font-size:20px;
}

.list ul li a {
	text-decoration:none;
	color:#B22222;
}
.list ul li img {
	width:30px;
	height:30px;
	position:absolute;
	top:14px;
	z-index:1;
}

#letterNum,#refundNum,#pushOrderNum {
	z-index: 2;
	position: absolute;
	
}
.right .img {
	width: 100%;
	height: 300px;
	margin-top: 30px;
}
.right .img img {
	max-width: 100%;
	max-height: 300px;
}
.footer {
	width: 100%;
	height: 100px;
}
.footer .version {
	width: 55%;
	height:100px;
	margin: 0 20% 0 25%;
}
.footer .version p {
	padding:10px;
}

.current {
	color: #fff;
	/*background:black;*/
}